h1 {
    color: rgb(133, 225, 228);
    -webkit-text-stroke:1px #000;
    text-align: center;
}

#title {
    color: #e6c8e5;
}

p {
    color: pink;
}

@media only screen and (max-width: 680px){
    .akai {
        width: 25%;
        height: 300px;
        background-color: red;
        float: right;
    }
}

@media only screen and (min-width: 680px){
    .akai {
        width: 15%;
        height: 300px;
        background-color: red;
        float: right;
    }
}
@media only screen and (max-width: 680px){
    .yellow {
        width: 80%;
        height: 300px;
        
    }
}


@media only screen and (min-width: 680px){
    .yellow {
        width: 40%;
        height: 300px;
        
    }
}


@media only screen and (max-width: 680px){
    .blue{
    width: 25%;
    height: 300px;
    background-color:blue;
   }
}

@media only screen and (min-width: 680px){
    .blue {
    width: 15%;
    height: 300px;
    background-color:blue;
   }
}

.container{
    display:flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}